# Relevant Imports

In [24]:
import pandas as pd
import yfinance as yf
import numpy as np

# Preprocessing

In [20]:
df = pd.read_csv('FinSen_US_Categorized_Timestamp (1).csv')
df.head()

,Title,Tag,Time,Content
0,"TSX Slightly Down, Books Weekly Gains",Stock Market,16/07/2023,"TSX Slightly Down, Books Weekly GainsUnited St..."
1,UnitedHealth Hits 4-week High,stocks,15/07/2023,UnitedHealth Hits 4-week HighUnited States sto...
2,Cisco Systems Hits 4-week Low,stocks,15/07/2023,Cisco Systems Hits 4-week LowUnited States sto...
3,AT&T Hits All-time Low,stocks,15/07/2023,AT&T Hits All-time LowUnited States stocksAT&T...
4,Microsoft Hits 4-week High,stocks,15/07/2023,Microsoft Hits 4-week HighUnited States stocks...

In [21]:
pattern = r'(\d+\s+days\s+ago|20\d{2}(?:-\d{2}-\d{2}(?:T\d{2}:\d{2}:\d{2}(?:\.\d+)?)?)?)$'
df['Content'] = df['Content'].str.replace(pattern, '', regex=True).str.strip()
df = df.reset_index(drop=True)

In [22]:
df.to_csv('FinSen_text.csv')

In [26]:
# Define the ticker symbol for the S&P 500 index
ticker_symbol = '^GSPC'

# Specify the start and end dates in 'YYYY-MM-DD' format
start_date = '2007-06-04'
end_date = '2023-07-16'

# Download the historical data for the specified date range
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Select only the 'Open', 'Close', and 'High' columns
data = data[['Open', 'Close', 'High', 'Volume']]

# Truncate the numbers to have only two decimal points without rounding off
data = np.trunc(data * 100) / 100

# Sort the data so that it starts from the last date
data = data.sort_index(ascending=False)

# Display the data
print(data)

# Optionally, save the data to a CSV file starting from the last date
data.to_csv('S&P500_numerical.csv')

[*********************100%%**********************]  1 of 1 completed

               Open    Close     High        Volume
Date
2023-07-14  4514.60  4505.41  4527.75  3.647450e+09
2023-07-13  4491.50  4510.04  4517.37  3.839530e+09
2023-07-12  4467.68  4472.16  4488.33  3.920290e+09
2023-07-11  4415.54  4439.25  4443.64  3.624220e+09
2023-07-10  4394.22  4409.52  4412.60  3.429600e+09
...             ...      ...      ...           ...
2007-06-08  1490.70  1507.67  1507.76  2.993460e+09
2007-06-07  1517.35  1490.71  1517.35  3.538470e+09
2007-06-06  1530.56  1517.38  1530.56  2.964190e+09
2007-06-05  1539.11  1530.94  1539.11  2.939450e+09
2007-06-04  1536.28  1539.18  1540.53  2.738930e+09

[4057 rows x 4 columns]

In [28]:
df1 = pd.read_csv('analyst_ratings_processed.csv')
# Drop the 'Unnamed: 0' column
if 'Unnamed: 0' in df1.columns:
    df1 = df1.drop(columns=['Unnamed: 0'])
df1.head()

,title,date,stock
0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A
1,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A
2,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A
3,46 Stocks Moving In Friday's Mid-Day Session,2020-05-22 12:45:00-04:00,A
4,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A

In [29]:
# Convert the 'date' column to string (if it's not already)
df1['date'] = df1['date'].astype(str)

# Split the 'date' column into 'date_only' and 'time_only' based on the space
df1[['date_only', 'time_only']] = df1['date'].str.split(' ', n=1, expand=True)
df1.head()

,title,date,stock,date_only,time_only
0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A,2020-06-05,10:30:00-04:00
1,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A,2020-06-03,10:45:00-04:00
2,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A,2020-05-26,04:30:00-04:00
3,46 Stocks Moving In Friday's Mid-Day Session,2020-05-22 12:45:00-04:00,A,2020-05-22,12:45:00-04:00
4,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A,2020-05-22,11:38:00-04:00

In [30]:
df1 = df1.drop(columns=['time_only'])
df1.head()

,title,date,stock,date_only
0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A,2020-06-05
1,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A,2020-06-03
2,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A,2020-05-26
3,46 Stocks Moving In Friday's Mid-Day Session,2020-05-22 12:45:00-04:00,A,2020-05-22
4,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A,2020-05-22

In [31]:
df1 = df1.rename(columns={'date_only': 'Date'})
df1.head()

,title,date,stock,Date
0,Stocks That Hit 52-Week Highs On Friday,2020-06-05 10:30:00-04:00,A,2020-06-05
1,Stocks That Hit 52-Week Highs On Wednesday,2020-06-03 10:45:00-04:00,A,2020-06-03
2,71 Biggest Movers From Friday,2020-05-26 04:30:00-04:00,A,2020-05-26
3,46 Stocks Moving In Friday's Mid-Day Session,2020-05-22 12:45:00-04:00,A,2020-05-22
4,B of A Securities Maintains Neutral on Agilent...,2020-05-22 11:38:00-04:00,A,2020-05-22

In [32]:
df1 = df1.drop(columns=['date'])
df1.head()

                                               title stock        Date
0            Stocks That Hit 52-Week Highs On Friday     A  2020-06-05
1         Stocks That Hit 52-Week Highs On Wednesday     A  2020-06-03
2                      71 Biggest Movers From Friday     A  2020-05-26
3       46 Stocks Moving In Friday's Mid-Day Session     A  2020-05-22
4  B of A Securities Maintains Neutral on Agilent...     A  2020-05-22

# Stock Ticker: MRK

In [33]:
# Filter both dataframes for the stock 'MS'
df1_filtered = df1[df1['stock'] == 'MRK']

df1_filtered.head()

                                                    title stock        Date
838963  Shares of several healthcare companies are tra...   MRK  2020-06-11
838964  Johnson & Johnson To Start Coronavirus Vaccine...   MRK  2020-06-11
838965  The Daily Biotech Pulse: Keytruda Setback For ...   MRK  2020-06-10
838966  Merck Announces That The Phase 3 KEYNOTE-361 T...   MRK  2020-06-09
838967  The Week Ahead In Biotech: Viela FDA Decision,...   MRK  2020-06-07

In [34]:
df1_filtered.to_csv('MRK_text.csv')

In [35]:
# Define the ticker symbol for the S&P 500 index
ticker_symbol = 'MRK'

# Specify the start and end dates in 'YYYY-MM-DD' format
start_date = '2009-07-27'
end_date = '2020-06-11'

# Download the historical data for the specified date range
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Select only the 'Open', 'Close', and 'High' columns
data = data[['Open', 'Close', 'High', 'Volume']]

# Truncate the numbers to have only two decimal points without rounding off
data = np.trunc(data * 100) / 100

# Sort the data so that it starts from the last date
data = data.sort_index(ascending=False)

# Display the data
print(data)

# Optionally, save the data to a CSV file starting from the last date
data.to_csv('MRK_numerical.csv')

[*********************100%%**********************]  1 of 1 completed

             Open  Close   High      Volume
Date
2020-06-10  78.66  78.02  78.98   9080920.0
2020-06-09  79.37  78.49  79.68   8846168.0
2020-06-08  77.43  79.10  79.38   9956838.0
2020-06-05  78.34  78.49  79.32  10413347.0
2020-06-04  77.54  77.81  78.39   9292930.0
...           ...    ...    ...         ...
2009-07-31  28.81  28.63  29.17  16269362.0
2009-07-30  28.82  28.56  29.55  24300290.0
2009-07-29  28.63  28.50  28.75  16696736.0
2009-07-28  29.30  28.64  29.49  23627265.0
2009-07-27  29.69  29.36  29.75  21026758.0

[2738 rows x 4 columns]

# Stock Ticker: MS

In [36]:
# Filter both dataframes for the stock 'MS'
df2_filtered = df1[df1['stock'] == 'MS']

df2_filtered.head()

                                                    title stock        Date
845602       Price Over Earnings Overview: Morgan Stanley    MS  2020-06-11
845603  Shares of several financial service companies ...    MS  2020-06-11
845604  Goldman Sachs Employees Returning To Their Des...    MS  2020-06-11
845605  Shares of several financial services companies...    MS  2020-06-10
845606  Morgan Stanley CEO James Gorman Says Markets B...    MS  2020-06-09

In [37]:
df2_filtered.to_csv('MS_text.csv')

In [38]:
# Define the ticker symbol for the S&P 500 index
ticker_symbol = 'MS'

# Specify the start and end dates in 'YYYY-MM-DD' format
start_date = '2010-01-20'
end_date = '2020-06-11'

# Download the historical data for the specified date range
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Select only the 'Open', 'Close', and 'High' columns
data = data[['Open', 'Close', 'High', 'Volume']]

# Truncate the numbers to have only two decimal points without rounding off
data = np.trunc(data * 100) / 100

# Sort the data so that it starts from the last date
data = data.sort_index(ascending=False)

# Display the data
print(data)

# Optionally, save the data to a CSV file starting from the last date
data.to_csv('MS_numerical.csv')

[*********************100%%**********************]  1 of 1 completed

             Open  Close   High      Volume
Date
2020-06-10  50.02  48.68  50.50  14770900.0
2020-06-09  48.72  50.40  50.68  15090400.0
2020-06-08  50.52  50.15  50.68  12150300.0
2020-06-05  51.29  49.52  51.84  17976100.0
2020-06-04  46.70  48.68  48.75  15279600.0
...           ...    ...    ...         ...
2010-01-26  27.68  27.32  28.29  24376400.0
2010-01-25  28.21  27.73  28.52  21100900.0
2010-01-22  28.64  27.79  29.18  46713700.0
2010-01-21  30.29  29.34  30.54  56774400.0
2010-01-20  30.76  30.62  31.23  21198800.0

[2616 rows x 4 columns]

# Stock Ticker: MU

In [39]:
# Filter both dataframes for the stock 'MS'
df3_filtered = df1[df1['stock'] == 'MU']

df3_filtered.head()

                                                    title stock        Date
858403  Hearing Wedbush Downgrades Micron On Valuation...    MU  2020-06-10
858404  Many Smartphones Expected to Come with 256GB o...    MU  2020-06-08
858405  Shares of several companies in the broader tec...    MU  2020-06-05
858406  Shares of several technology companies are tra...    MU  2020-06-04
858407  Micron Launches Robot Design Challenge to Acce...    MU  2020-06-04

In [40]:
df3_filtered.to_csv('MU_text.csv')

In [41]:
# Define the ticker symbol for the S&P 500 index
ticker_symbol = 'MU'

# Specify the start and end dates in 'YYYY-MM-DD' format
start_date = '2011-04-20'
end_date = '2020-06-10'

# Download the historical data for the specified date range
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Select only the 'Open', 'Close', and 'High' columns
data = data[['Open', 'Close', 'High', 'Volume']]

# Truncate the numbers to have only two decimal points without rounding off
data = np.trunc(data * 100) / 100

# Sort the data so that it starts from the last date
data = data.sort_index(ascending=False)

# Display the data
print(data)

# Optionally, save the data to a CSV file starting from the last date
data.to_csv('MU_numerical.csv')

[*********************100%%**********************]  1 of 1 completed

             Open  Close   High      Volume
Date
2020-06-09  52.65  53.15  53.50  17840800.0
2020-06-08  54.50  53.70  54.63  22850600.0
2020-06-05  52.65  53.72  54.81  34110700.0
2020-06-04  48.86  51.22  51.97  34830800.0
2020-06-03  48.04  48.91  49.41  34662100.0
...           ...    ...    ...         ...
2011-04-27  11.60  11.80  11.82  29748500.0
2011-04-26  11.35  11.60  11.64  27400000.0
2011-04-25  11.46  11.32  11.48  20447100.0
2011-04-21  11.47  11.52  11.72  43506100.0
2011-04-20  10.89  11.39  11.40  52613700.0

[2299 rows x 4 columns]

# Stock Ticker: NVDA

In [42]:
# Filter both dataframes for the stock 'MS'
df4_filtered = df1[df1['stock'] == 'NVDA']

df4_filtered.head()

                                                    title stock        Date
917098  Shares of several technology companies are tra...  NVDA  2020-06-10
917099                Afternoon Market Stats in 5 Minutes  NVDA  2020-06-10
917100                  Morning Market Stats in 5 Minutes  NVDA  2020-06-10
917101  Shares of several technology companies are tra...  NVDA  2020-06-09
917102                Afternoon Market Stats in 5 Minutes  NVDA  2020-06-08

In [43]:
df4_filtered.to_csv('NVDA_text.csv')

In [44]:
# Define the ticker symbol for the S&P 500 index
ticker_symbol = 'NVDA'

# Specify the start and end dates in 'YYYY-MM-DD' format
start_date = '2011-03-03'
end_date = '2020-06-10'

# Download the historical data for the specified date range
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Select only the 'Open', 'Close', and 'High' columns
data = data[['Open', 'Close', 'High', 'Volume']]

# Truncate the numbers to have only two decimal points without rounding off
data = np.trunc(data * 100) / 100

# Sort the data so that it starts from the last date
data = data.sort_index(ascending=False)

# Display the data
print(data)

# Optionally, save the data to a CSV file starting from the last date
data.to_csv('NVDA_numerical.csv')

[*********************100%%**********************]  1 of 1 completed

            Open  Close  High        Volume
Date
2020-06-09  8.80   9.04  9.10  4.684880e+08
2020-06-08  8.87   8.80  8.88  3.877360e+08
2020-06-05  8.79   8.92  8.99  4.817480e+08
2020-06-04  8.72   8.76  8.94  4.242800e+08
2020-06-03  8.82   8.76  8.86  3.654400e+08
...          ...    ...   ...           ...
2011-03-09  0.48   0.47  0.49  1.318976e+09
2011-03-08  0.51   0.48  0.51  1.947184e+09
2011-03-07  0.52   0.51  0.52  1.019140e+09
2011-03-04  0.52   0.51  0.52  9.597600e+08
2011-03-03  0.53   0.52  0.53  1.593704e+09

[2333 rows x 4 columns]

# Stock Ticker: QQQ

In [45]:
# Filter both dataframes for the stock 'MS'
df5_filtered = df1[df1['stock'] == 'QQQ']

df5_filtered.head()

                                                     title stock        Date
1042283                Afternoon Market Stats in 5 Minutes   QQQ  2020-06-10
1042284                  Morning Market Stats in 5 Minutes   QQQ  2020-06-10
1042285                Afternoon Market Stats in 5 Minutes   QQQ  2020-06-09
1042286  Cramer: NASDAQ Rebound Makes Sense As It Bette...   QQQ  2020-06-09
1042287                  Morning Market Stats in 5 Minutes   QQQ  2020-06-09

In [46]:
df5_filtered.to_csv('QQQ_text.csv')

In [47]:
# Define the ticker symbol for the S&P 500 index
ticker_symbol = 'QQQ'

# Specify the start and end dates in 'YYYY-MM-DD' format
start_date = '2011-03-16'
end_date = '2020-06-10'

# Download the historical data for the specified date range
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Select only the 'Open', 'Close', and 'High' columns
data = data[['Open', 'Close', 'High', 'Volume']]

# Truncate the numbers to have only two decimal points without rounding off
data = np.trunc(data * 100) / 100

# Sort the data so that it starts from the last date
data = data.sort_index(ascending=False)

# Display the data
print(data)

# Optionally, save the data to a CSV file starting from the last date
data.to_csv('QQQ_numerical.csv')

[*********************100%%**********************]  1 of 1 completed

              Open   Close    High       Volume
Date
2020-06-09  240.66  243.30  244.17   35046300.0
2020-06-08  239.53  241.55  241.67   32937300.0
2020-06-05  236.22  239.69  240.30   47365600.0
2020-06-04  236.33  235.02  237.78   38716100.0
2020-06-03  236.25  236.69  237.47   37228700.0
...            ...     ...     ...          ...
2011-03-22   55.58   55.40   55.61   36162100.0
2011-03-21   55.27   55.50   55.77   57423000.0
2011-03-18   55.22   54.45   55.22   94887200.0
2011-03-17   55.00   54.65   55.24   94434500.0
2011-03-16   55.02   54.15   55.34  176507700.0

[2324 rows x 4 columns]